

.d-ah-head-options {
    text-align: center;
}


.d-ah-head-options ul li a {
    font-size: 26px;
    font-family: "mont-bold";
    border: 2px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    padding: 30px 110px;
    display: block;
    letter-spacing: 1px;
}

.d-ah-head-options ul li a:hover {
    background: url('/assets/images/yellow_bg.jpg') repeat-x center center;
    color: #333;
    border: 2px solid #f4be04;
}

.d-phone-db {
    background: url('/assets/images/home_phone_v2.png') no-repeat center top;
    background-size: contain;
    padding: 410px 0px 280px;
}

.d-phone-db ul {
    margin: 0;
    padding: 0;
    
}

.d-phone-db ul li{
    list-style: none;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    height: 220px;
}

.d-phone-db ul li span {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 100%;
    overflow: hidden;
    transition: all .5s;
    left: 0;
    opacity: 0;
}

.d-phone-db ul li img {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.d-phone-db ul li span.show {
    top: 0%;
    opacity: 1;
    /* height: 0; */
}

.d-under-phone h5 {
    text-align: center;
    font-size: 71px;
    font-family: "mont-bold";
    line-height: 1em;
    margin-bottom: 65px;
}

.d-under-phone ul {
    padding: 0 10%;
    margin: 0 0 80px;
}

.d-under-phone ul li {
    font-size: 39px;
    font-family: "mont-light";
    padding: 20px 0;
}

.d-under-phone {
    margin-top: -250px;
}

.d-handle-inner {
    max-width: 1370px;
    margin: 0 auto;
    overflow: hidden;
}

.d-handle-inner .d-handle-left {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.d-handle-inner .d-handle-left img {
    width: 80%;
    margin-bottom: -10px;
    opacity: 0;
    transition: all 1.5s;
}

.d-handle-inner .d-handle-left.show img {
    opacity: 1;
}

.d-handle-inner .d-handle-right {
    width: 54%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.d-handle-case-part {
    background: url('/assets/images/peach_background.png') repeat-x center bottom;
    background-size: cover;
    padding-top: 40px;
}


.d-handle-inner .d-handle-right h5 {
    font-size: 66px;
    font-family: "mont-bold";
    line-height: 1.2em;
    background: url('/assets/images/green_header_barrier.png') no-repeat bottom center;
    background-size: 440px;
    padding-bottom: 50px;
    position: relative;
    right: -999px;
    transition: all 1s;
}

.d-handle-inner .d-handle-right h5.show {
    right: 0;
}

.d-handle-inner .d-handle-right ul {
    margin: 0;
    padding: 0;
}

.d-handle-inner .d-handle-right ul li {
    list-style: none;
    font-size: 40px;
    padding: 30px 0;
    position: relative;
    right: -999px;
    transition: all 1s;
}

.d-handle-inner .d-handle-right ul li.show {
    right: 0;
}

.d-handle-understand img {
    width: 100%;
    display: block;
}

.d-handle-pricing {
    background: url('/assets/images/green_backgroundv2.jpg') no-repeat center top;
    background-size: cover;
}

.d-handle-priing-inner {
    max-width: 1370px;
    margin: 0 auto;
    padding: 90px 0;
}

.d-pricing-info .d-pricing-info-left {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    text-align: center;
}


.d-pricing-info .d-pricing-info-right {
    display: inline-block;
    vertical-align: middle;
    width: 54%;
}

.d-pricing-info .d-pricing-info-left .d-avocado-image img {
    width: 200px;
}

.d-avocado-separator {
    background: #578e08;
    height: 1px;
    width: 460px;
    margin: 0 auto 30px;
}

.d-avocado-price {
    font-size: 106px;
    font-family: "mont-bold";
    color: #fff;
}

.d-pricing-base {
    background: rgb(41,43,41);
    background: linear-gradient(180deg, #000 0%, #0d3603 100%);
    padding: 70px 0;
    border-radius: 50px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -20px;
}

.d-handle-priing-inner > h5 {
    text-align: center;
    font-family: "mont-bold";
    color: #fff;
    font-size: 76px;
    line-height: 1em;
    margin-bottom: 60px;
}

.d-pricing-info {
    background: #eff2e7;
    border-radius: 50px;
}

.d-avocado-image {
    margin-bottom: 20px;
}

.d-pricing-right-inner {
    padding-left: 60px;
}

.d-pricing-right-inner > h5 {
    font-size: 51px;
    font-family: "mont-bold";
    line-height: 1em;
    background: url('/assets/images/green_header_barrier.png') no-repeat bottom center;
    background-size: 440px;
    padding-bottom: 45px;
    text-align: center;
}

.d-pricing-right-inner ul {
    margin: 0;
    padding: 0;
}

.d-pricing-right-inner ul li {
    list-style: none;
    font-size: 31px;
    font-family: "mont-light";
    margin: 18px 0px;
    line-height: 1.2em;
}

.d-learn-more {
    text-align: center;
    margin-top: 90px;
    display: block;
}

.d-learn-more a {
    color: #fff;
    background: antiquewhite;
    background: linear-gradient(180deg, #000 0%, #0d3603 100%);
    text-decoration: none;
    padding: 35px 75px;
    display: inline-block;
    border-radius: 10px;
    font-family: "mont-semi-bold";
    font-size: 24px;
    transition: all .5s;
    opacity: 1;
}

.d-learn-more a:hover {
    opacity: 0.7;
}

.d-handle-started {
    max-width: 1370px;
    margin: 0 auto;
    padding: 90px 0;
    overflow: hidden;
}

.d-handle-started h5 {
    text-align: center;
    font-family: "mont-bold";
    font-size: 76px;
    line-height: 1em;
    margin-bottom: 60px;
    position: relative;
    bottom: -999px;
    transition: all 1s;
}

.d-handle-started h5.show {
    bottom: 0;
}

.d-numbers,
.d-handle-info {
    text-align: center;
}

.d-numbers .d-number-item {
    display: inline-block;
    width: 33%;
}

.d-handle-info .d-handle-base {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.d-numbers .d-number-item span {
    background: #0d3603;
    color: #fff;
    width: 90px;
    display: inline-block;
    font-size: 46px;
    border-radius: 100px;
    padding: 20px 0;
    line-height: 1em;
    text-align: center;
}

.d-handle-numbers .d-dots {
    display: block;
    border-top: 10px dotted #0d3603;
    width: 66%;
    margin: -46px auto 55px;
}

.d-handle-info .d-handle-base .d-handle-desc-intro {
    font-size: 34px;
    font-family: "mont-semi-bold";
    line-height: 1.1em;
    margin-bottom: 15px;
}

.d-handle-info .d-handle-base .d-handle-desc-desc {
    font-size: 24px;
    font-family: "mont-light";
    text-align: justify;
    padding: 0 8%;
    line-height: 1.4em;
}



.d-numbers .number-one {
    left: -999px;
    position: relative;
}

.d-numbers .number-two {
    bottom: -999px;
    position: relative;
}

.d-numbers .number-three {
    right: -999px;
    position: relative;
}

.d-numbers .number-one.show {
    left: 0;
    transition: all 1.5s;
}

.d-numbers .number-two.show {
    bottom: 0;
    transition: all 1.5s;
}

.d-numbers .number-three.show {
    right: 0;
    transition: all 1.5s;
}

.d-handle-info .d-handle-base .d-handle-desc-intro,
.d-handle-info .d-handle-base .d-handle-desc-desc {
    opacity: 0;
    transition: all 1.5s;
}

.d-handle-info .d-handle-base .d-handle-desc-intro.show,
.d-handle-info .d-handle-base .d-handle-desc-desc.show {
    opacity: 1;
}

.d-handle-inner .d-handle-right ul li i,
.d-pricing-right-inner ul li i {
    display: inline-block;
    width: 5%;
    vertical-align: top;
    color: #7ac943;
}

.d-handle-inner .d-handle-right ul li span,
.d-pricing-right-inner ul li span {
    width: 93%;
    display: inline-block;
    vertical-align: top;
}

