.d-ah-head-options {
    text-align: center;
    margin-bottom: 60px;
}

.d-ah-head-options ul li a {
    font-size: 26px;
    font-family: "mont-bold";
    border: 2px solid #fff;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    padding: 30px 110px;
    display: block;
    letter-spacing: 1px;
}


/* .d-header-container {
    max-width: 1370px;
    margin: 0 auto;
} */


.d-header-container {
    max-width: 100%;
    margin: 0 auto;
}

.d-header-container .d-head-top,
.d-header-container .d-ah-head-options,
.d-header-container .d-head-middle {
    max-width: 1370px;
    margin: 0 auto;
}

.d-header-container .d-head-top {
    margin-bottom: 150px;
}

.n-exp-creds ul {
    margin: 0;
    padding: 0;
}

.n-exp-creds ul li {
    list-style: none;
    font-size: 36px;
    padding: 25px 0;
    color: #fff;
}

.n-exp-creds ul li i {
    display: inline-block;
    width: 5%;
    vertical-align: top;
    color: #7ac943;
}

.n-exp-creds ul li span {
    width: 93%;
    display: inline-block;
    vertical-align: top;
}

.d-disc-motion-work h4 {
    font-family: "mont-bold";
    font-size: 86px;
    text-align: center;
    padding: 0 8%;
    line-height: 1.2em;
    color: #0c3004;
    /* text-shadow: 0 0 12px #0d2f0e; */
    margin-bottom: 30px;
    line-height: 1em;
}

.d-sub-header {
    text-align: center;
    font-size: 46px;
    margin-bottom: 50px;
    font-family: "mont-light";
}

.d-disc-motion-work {
    max-width: 1370px;
    margin: 0 auto;
}

.d-discovery-item {
    text-align: center;
    background: rgb(41,43,41);
    background: linear-gradient(118deg, #0d3603 0%, #000 100%);
    padding: 25px;
    border-radius: 35px;
}

.d-core-image img {
    width: 200px;
    margin: 0 auto 30px;
}

.d-discovery-item .d-core-title {
    color: #e0cfad;
    font-size: 21px;
    font-family: "mont-light";
    padding: 0 10px;
    min-height: 60px;
}

.d-main-slide-base {
    width: 400px !important;
}

.d-discover-motion-work {
    margin-bottom: 150px;
}

.d-expiry-credits {
    /* background: url(/assets/images/services_demand_bg.png) no-repeat center right;
    background-size: contain; */
    padding-bottom: 150px;
}

.d-expiry-credits .d-expiry-creds-inner {
    /* max-width: 1370px;
    margin: 0 auto; */
    position: relative;
}

.d-expiry-credits .d-expiry-creds-inner .d-exp-creds-left {
    width: 38%;
    position: absolute;
    font-family: "mont-light";
    top: 20%;
    left: 15%;
}

.d-expiry-credits .d-expiry-creds-inner .d-exp-creds-right {
    text-align: right;
}

.d-expiry-credits .d-expiry-creds-inner .d-exp-creds-right img {
    width: 55%;
}